<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"> 		
	<link type="text/css" rel="stylesheet" href="/css/plog.css">
	<link type="text/css" rel="stylesheet" href="bootstrap.css">
	<title>Plog</title>
  </head>
  <body>
    <%= yield %>
    <footer>
	</footer>
  </body>
</html>
